@media (min-width: 400px) {
	#conversation{	
		height: 300px;
		border: 1px solid #ccc;		
		padding: 4px; 
		overflow-y: scroll;	
	}
	.chat_window_desc{
		font-size: 12px;
	}
}

@media (min-width: 1000px) {
	#conversation{	
		height: 300px;
		border: 1px solid #ccc;		
		padding: 4px; 
		overflow-y: scroll;	
	}
	.chat_window_desc{
		font-size: 14px;
	}
}




input#chatInput {
	padding: 4px;
	/* font-size: 1em; */
	
}

input::placeholder {
	color: black;
	font-style: italic;
}

p.userRequest {
	margin: 4px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;	
	/* float: left; */
	display: table;
	color: #efefef;
	background-color: #E74C3C;
}

p.lexResponse {
	margin: 4px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
	text-align: right;	
	/* float: right; */
	display: table;
	color: #212121;
	background-color: #efefef;
	font-style: italic;
}

p.lexError {
	margin: 4px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
	text-align: right;
	
	float: right;
	background-color: #f77;
}

.logo_img{
	border-radius: 50%;
	height: 60px;	
}


/* About Audio Box */
.white-circle {
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 0 8px #d8dbe3;
	border-radius: 100px;
	/* height: 50px; */
	margin: 0 auto;
	/* width: 50px; */
	height: 25px;
	width: 25px;
	display: inline-block;
}

.white-circle:hover {
	box-shadow: 0 0 8px #007dbc;
}

.white-circle img {
	position: relative;
	/* top: 18px; */
	top: 3px;
	margin-left: 3px;
}

.audio-control {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	text-align: center;
}
